// $fonts: 'Poppins', Helvertica, sans-serif;
// $primary-color: #ab99ca;
// $spacing: 2rem;

// body {
//     font-family: 'Poppins', Helvertica, sans-serif;
//     background-color: #ab99ca;
//     padding: 2rem;
//     min-height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    padding: 0px;
    padding: 0px;
    font-family: "Karla", sans-serif;

}
.text-cyan{
    color: #2ab2af;
}
.text-bright-yellow{
    color: #c0df34;
}
.text-light-gray{
    color: #e5eff5;
}
.text-grayish-blue {
    color: #98a6bd;

}
.bg-cyan{
    background: #2ab2af;
}
.bg-bright-yellow{
    background: #c0df34;
}
.bg-light-gray{
    background: #e5eff5;
}
.bg-grayish-blue {
    background: #98a6bd;

}
.main-div {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    box-shadow: 0px 0px 14px #0000002f;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
  }
  .card .card-first-item {
    padding: 24px;
    background: white;
  }
  
  .card .card-second-item {
    display: flex;
    align-items: "center";
  }
  .card-second-item .first,
  .card-second-item .second {
    padding: 24px;
    width: 100%;
  }
  
  .first {
    background-color: #2ab2af;
  }
  
  .second {
    background-color: #2ab2b0b6;
  }
  
  .mb-4 {
    margin-bottom: 14px;
  }
  
  .mb-2 {
    margin-bottom: 8px;
  }
  
  .mb-0 {
    margin-bottom: 0px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  i {
    margin-top: 0;
    padding-top: 0;
  }
  
  span {
    font-size: 10px;
  }


//   body {
//     padding: 0px;
//     padding: 0px;
//     font-family: 'Outfit', sans-serif;
// }
// .container{
//     padding: 70px;
// }
// .card{
//     display: flex;
// }
// .qrobject1{
//     margin: 20px auto;

// }
// .qrobject{
//     margin-bottom: 20px;

// }
// .cardBlock{
//     box-shadow: #98a6bd;
//     border-radius: 20px;
//     background-color: white;
// }
// .img{
//     border-radius: 10px;
// }
// .text-white{
//     color: #2ab2af;
// }
// .text-bright-yellow{
//     color: #c0df34;
// }
// .text-light-gray{
//     color: #e5eff5;
// }
// .text-grayish-blue {
//     color: #98a6bd;

// }
// .text-grayish-dark-blue{
//      color: hsl(218, 44%, 22%);


// }

// .bg-cyan{
//     background: #2ab2af;
// }
// .bg-light-gray{
//     background: #e5eff5;
// }